{{> open}}
    <div id="main" class="about-us">
        {{> main-header}}
        <div id="short-description">
            <a class="path" href="index.html">HOME</a><span>/</span><a class="path" href="about-us.html">ABOUT</a>
            <h2>ABOUT</h2>
            <p>Vivamus tincidunt sollicitudin enim, eu lobortis sapien varius ut.</p>
        </div>
        <section class="long-description left">
            <img src="images/about-1.jpg" width="520" height="318" />
            <h2>WHO WE ARE?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas gravida, nisi at vehicula blandit, dui nunc dignissim lorem, non fringilla ante lorem at est.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Sed eleifend pharetra arcu non pretium.
            </p>
            <p>
                Pellentesque lectus quam, lobortis vitae eros, efficitur porttitor felis.
                Cras est sapien, ornare sed fringilla efficitur, fringilla sed mi. Cras convallis hendrerit odio, eu venenatis augue consectetur nec.
            </p>
        </section>
        <section class="long-description right">
            <img src="images/about-2.jpg" width="520" height="318" />
            <h2>WHAT WE ARE DOING?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas gravida, nisi at vehicula blandit, dui nunc dignissim lorem, non fringilla ante lorem at est.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Sed eleifend pharetra arcu non pretium.
            </p>
            <p>
                Pellentesque lectus quam, lobortis vitae eros, efficitur porttitor felis.
                Cras est sapien, ornare sed fringilla efficitur, fringilla sed mi. Cras convallis hendrerit odio, eu venenatis augue consectetur nec.
            </p>
        </section>
        <div id="inspirations">
            <h2>You may also like</h2>
            <ul class="carousel">
                <li><img src="images/sm-1.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-2.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-3.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-4.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-5.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-6.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-7.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-8.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-9.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-10.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-11.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-12.jpg" width="180" height="120" /></li>
            </ul>
        </div>
{{> close}}