{{> open}}
<div id="main">
    {{> main-header}}
    <div class="slider">
        <div class="slide first-slide">
            <span class="big-text">Latest collection</span>
            <p>Quisque lorem tortor sed, vestibilum id, eleifen justo.</p>
            <a href="new-arrivals.html">CHECK NEW ARRIVALS</a>
        </div>
        <div class="slide second-slide">
            <span class="big-text">Special offers</span>
            <p>Aliquam feugiat, erat ac vehicula auctor, ipsum lectus.</p>
            <a href="sale-products.html">CHECK NEW OFFERS</a>
        </div>
        <div class="slide third-slide">
            <span class="big-text">Become a member</span>
            <p>Vivamus tincidunt sollicitudin enim, eu lobortis sapien varius ut.</p>
            <a href="career.html">JOIN OUR TEAM</a>
        </div>
    </div>
    <div id="panels">
        <!--first column of the panels-->
        <div class="first-panel">
            <div class="long-panel">
                <h2><a href="victorian-classics.html">VICTORIAN CLASSICS</a></h2>
                <p>NOW IN STORES</p>
            </div>
            <div class="small-panel"></div>
        </div>
        <!--second column of the panels-->
        <div class="second-panel">
            <div class="small-panel sm1">
                <h2><a href="evening-dresses.html">EVENING DRESSES</a></h2>
                <p>ORGANIC SILK</p>
                <span class="arrow arrow-right"></span>
            </div>
            <div class="small-panel sm2"></div>
            <div class="small-panel sm3">
                <h2><a href="accessories.html">ACCESSORIES</a></h2>
                <p>GET THE RIGHT PAIR OF SUNGLASSES</p>
                <span class="arrow arrow-left"></span>
            </div>
        </div>
       <!--third column of the panels-->
        <div class="third-panel">
            <div class="small-panel sm1"></div>
            <div class="small-panel sm2">
                <h2><a href="authentic-shoes.html">AUTHENTIC SHOES</a></h2>
                <p>FIND THE PERFECT PAIR</p>
                <span class="arrow arrow-left"></span>
            </div>
            <div class="small-panel sm3">
                <h2><a href="men-categories.html">MEN BASICS</a></h2>
            </div>
        </div>
        <!--fourth column of the panels-->
        <div class="fourth-panel">
            <div class="small-panel">
                <h2><a href="elegant-shoes.html">ELEGANT SHOES</a></h2>
                <p>LUXURIOUS LEATHER LINING</p>
                <span class="arrow arrow-down"></span>
            </div>
            <div class="long-panel"></div>
        </div>
    </div>
    <div id="sign-up">
        <h2>SIGN UP TO RECEIVE OUR NEWSLETTER</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec ipsum mi. Nullam tempus.</p>
        <div class="email-form">
            <form>
                <input type="email" id="email-field" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="Your e-mail" />
                <input type="submit" id="btn" value="add" />
            </form>
        </div>
    </div>
    <div id="inspirations">
        <ul class="carousel">
            <li><img src="images/sm-1.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-2.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-3.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-4.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-5.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-6.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-7.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-8.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-9.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-10.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-11.jpg" width="180" height="120" /></li>
            <li><img src="images/sm-12.jpg" width="180" height="120" /></li>
        </ul>
    </div>
{{> close}}