{{> open}}
	<div id="main" class="individual">
		{{> main-header}}
		<div class="big-container">
			<img src="images/dress-individ.jpg" width="1060" height="480" />
			<div class="small-container">
				<ul>
					<li data-href="images/dress-individ.jpg"><img src="images/dress-icon1.jpg" width="88" height="88" /></li>
					<li data-href="images/dress-individ2.jpg"><img src="images/dress-icon2.jpg" width="88" height="88" /></li>
					<li data-href="images/dress-individ3.jpg"><img src="images/dress-icon3.jpg" width="88" height="88" /></li>
				</ul>
			</div>
		</div>
		<div id="product-details">
			<h1>CHAMPAGNE COCKTAIL DRESS</h1>
			<span>$ 90,15</span>
			<p>Praesent. Torquent ultricies est hendrerit. Pharetra vel tortor. Fames. Augue consequat eu ridiculus habitant fermentum. Hymenaeos inceptos ornare sociis. Arcu pretium, class tristique condimentum praesent dapibus quis cubilia faucibus cras, euismod class velit eros.</p>
			<div class="features">
				<h3>SIZE</h3>
				<ul class="size">
					<li>34</li>
					<li>40</li>
					<li>36</li>
				</ul>
				<h3>COLOR</h3>
				<ul class="color">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
{{> close}}