{{> open}}
    <div id="main" class="products">
        {{> main-header}}
        <section class="all-products">
            <a class="path" href="index.html">HOME</a><span>/</span><a class="path" href="sale-products.html">SALE</a>
            <div class="prod">
                <h2>SALE</h2>
                <span class="details">All products</span>
                <ul class="items">
                    <li>
                        <a href=""><img src="images/categ-1.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-6.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-3.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-9.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-8.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-7.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-2.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-4.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/categ-5.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/sale-1.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/sale-2.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                    <li>
                        <a href=""><img src="images/sale-3.jpg" width="207" height="259" /></a>
                        <h2><a href="">Double-Layered Top</a></h2>
                        <span class="details">$90,15</span>
                    </li>
                </ul>
                <div class="page-nr">
                    <ul>
                        <li class="active"><a class="active" href="sale-products.html">1</a></li>
                        <li><a href="sale-products2.html">2</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="inspirations">
            <h2>Check our lookbook</h2>
            <ul class="carousel">
                <li><img src="images/sm-1.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-2.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-3.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-4.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-5.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-6.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-7.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-8.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-9.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-10.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-11.jpg" width="180" height="120" /></li>
                <li><img src="images/sm-12.jpg" width="180" height="120" /></li>
            </ul>
        </div>
        {{> close}}