{{> open}}
    <div id="main" class="site">
        {{> main-header}}
        <div id="short-description">
            <a class="path" href="index.html">HOME</a><span>/</span><a class="path" href="shipping-methods.html">SITE</a>
            <h2>SHIPPING METHODS</h2>
            <p>Vivamus tincidunt sollicitudin enim, eu lobortis sapien varius ut.</p>
        </div>
        <section class="long-description">
            <h2>Delivery Options</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.Maecenas gravida, nisi at vehicula blandit, dui nunc dignissim lorem, non fringilla ante lorem at est.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. 
            <p>
                Sed eleifend pharetra arcu non pretium.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. 
            </p>
            <p>
                Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>

            <h2>Free Delivery</h2>
            <p>
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pharetra arcu non pretium.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod.
            </p>
            <h2>Frequent Questions</h2>
            <h3>Can the delivery country be different from the purchase country?</h3>
            <p>
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend pharetra arcu non pretium.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod.
            </p>

            <h3>Can I track my order?</h3>
            <p>
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            </p>

            <h3>Where can I receive my order?</h3>
            <p>
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit amet, venenatis, arcu etc.
            </p>
        </section>
        {{> close}}