{{> open}}
    <div id="main" class="site">
        {{> main-header}}
        <div id="short-description">
            <a class="path" href="index.html">HOME</a><span>/</span><a class="path" href="support.html">SITE</a>
            <h2>SUPPORT</h2>
            <p>Vivamus tincidunt sollicitudin enim, eu lobortis sapien varius ut.</p>
        </div>
        <section class="long-description">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas gravida, nisi at vehicula blandit, dui nunc dignissim lorem, non fringilla ante lorem at est.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Sed eleifend pharetra arcu non pretium.
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <h2>Discover our products</h2>
            <p>
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida, nisi at vehicula blandit, dui nunc dignissim lorem, non fringilla ante lorem at est.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Sed eleifend pharetra arcu non pretium.
            </p>
            <h2>Get support and professional advice</h2>
            <p>
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida, nisi at vehicula blandit, dui nunc dignissim lorem, non fringilla ante lorem at est.Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Sed eleifend pharetra arcu non pretium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam egestas dui et velit venenatis, ac condimentum lectus euismod. Suspendisse sit amet venenatis leo, eget laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </section>
        {{> close}}