<header>
    <div id="logo">
            <a href="index.html">VS</a>
    </div>
    <nav>
        <div>
            <ul>
                <li><a href="about-us.html">About</a></li>
                <li><a href="women-categories.html">Women</a></li>
                <li><a href="men-categories.html">Men</a></li>
                <li><a href="kids-categories.html">Kids</a></li>
                <li><a href="sale-products.html">Sale</a></li>
            </ul>
            <!-- Drop down menu for small devices (width < 768) -->
            <select name="drop-down">
                <option selected disabled>Menu</option>
                <option value="about-us.html">About</option>
                <option value="women-categories.html">Women</option>
                <option value="men-categories.html">Men</option>
                <option value="kids-categories.html">Kids</option>
                <option value="sale-products.html">Sale</option>
            </select>
        </div>
    </nav>
    <div id="user-interaction">

        <!-- The search field -->
        <div class="search-field">
            <span class="search"><a href="#"></a></span>
            <input type="search" placeholder="search something..." required="required" />
        </div>

        <!-- The anchor that triggers the popup form for logging in -->
        <span class="log"><a class="popup-with-form" href="#test-form">Log In</a></span>
        <form id="test-form" class="white-popup mfp-hide">
            <h1>SIGN IN</h1>
            <fieldset>
                <ul>
                    <li>
                        <label for="email">EMAIL</label>
                        <input id="email" name="email" placeholder="example@domain.com" required="" type="email">
                    </li>
                    <li>
                        <label for="phone">PASSWORD</label>
                        <input id="password" name="password" required="" type="password">
                    </li>
                    <li>
                        <input id="login" name="login" type="submit">
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</header>